{% extends 'Inicio/plantMain.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'Inicio/css/estilo-index.css' %}">
{% endblock css %}

{% block imagen %}
<div class="img-hd">
    <div class="logo-img"><img class="img-fluid" src="{% static 'Inicio/img/logo/logo1.png' %}"></div>
</div>
{% endblock imagen %}

{% block contenido %}
{% with user_actual=usuario.username|default:'anonimo' %}
<section class="compsyper">
    <div class="container">
        <h1 class="text-break">Acá podrás encontrar lo mejor para poder armar tu setup 🔥</h1>
        <h2>Periféricos para la bestia ⚡</h2>

        <div class="row align-items-center">
            <!-- Micrófonos -->
            <div class="col-xl-4 col-md-6 col-sm-12">
                <article class="caja">
                    <a href="{% url 'mostrarMic' user_actual %}">
                        <img src="{% static 'Inicio/img/img-index/microfono.jpg' %}" alt="microfono gamer" class="img-fluid" id="img">
                    </a>
                    <p class="txtcaja">MICRÓFONOS</p>
                </article>
            </div>

            <!-- Teclados -->
            <div class="col-xl-4 col-md-6 col-sm-12">
                <article class="caja">
                    <a href="{% url 'teclados' user_actual %}">
                        <img src="{% static 'Inicio/img/img-index/teclado.jpg' %}" alt="teclado gamer" class="img-fluid" id="img">
                    </a>
                    <p class="txtcaja">TECLADOS</p>
                </article>
            </div>

            <!-- Mouse -->
            <div class="col-xl-4 col-md-12 col-sm-12">
                <article class="caja">
                    <a href="{% url 'mostrarMouse' user_actual %}">
                        <img src="{% static 'Inicio/img/img-index/mouse.jpg' %}" alt="mouse gamer" class="img-fluid" id="img">
                    </a>
                    <p class="txtcaja">MOUSE GAMER</p>
                </article>
            </div>
        </div>
    </div>
</section>

<section class="compsyper">
    <div class="container">
        <h2>Componentes para armar a la bestia 🦁</h2>
        <div class="row align-items-center">
            <!-- Gráficas -->
            <div class="col-xl-4 col-md-6 col-sm-12">
                <article class="caja">
                    <a href="{% url 'mostrarGrafica' user_actual %}">
                        <img src="{% static 'Inicio/img/img-index/grafica.png' %}" alt="tarjeta grafica" class="img-fluid" id="img">
                    </a>
                    <p class="txtcaja">TARJETAS GRÁFICAS</p>
                </article>
            </div>

            <!-- Procesadores -->
            <div class="col-xl-4 col-md-6 col-sm-12">
                <article class="caja">
                    <a href="{% url 'mostrarProcesador' user_actual %}">
                        <img src="{% static 'Inicio/img/img-index/procesador.jpg' %}" alt="procesador" class="img-fluid" id="img">
                    </a>
                    <p class="txtcaja">PROCESADORES</p>
                </article>
            </div>

            <!-- RAM -->
            <div class="col-xl-4 col-md-12 col-sm-12">
                <article class="caja">
                    <a href="{% url 'mostrarRam' user_actual %}">
                        <img src="{% static 'Inicio/img/img-index/rampc.jpg' %}" alt="memoria RAM" class="img-fluid" id="img">
                    </a>
                    <p class="txtcaja">MEMORIAS</p>
                </article>
            </div>
        </div>
    </div>
</section>
{% endwith %}
{% endblock contenido %}