# Python
__pycache__/
*.py[cod]
*.sqlite3
*.log
*.pot
*.pyc

# Entornos virtuales
venv/
.env/
*.env

# Archivos temporales y del sistema
.DS_Store
Thumbs.db

# Archivos de configuración de conexión sensibles (como Oracle Wallet)
wallet/
*.zip
*.7z

# Static y media generados
staticfiles/
media/

# Archivos de subida pesada
*.mp4
*.mov

# VSCode
.vscode/

# Heroku
Procfile
